.container {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}
.bruhh{

  text-align: center;
}
.down{

  text-align: center;
}
.topr {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width:200px;
}
.topl {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width:200px;
}
.botr {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width:200px;
}
.lorge{
  font-size = 1000px;
}
.botl {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width:200px;
}
.red{
  background-color:red;
}
.blue{
  background-color:blue;
}
.green{
  background-color:green;
}
.yellow{
  background-color:yellow;
}
.darkred{
  background-color:#8b0000;
}
.darkblue{
  background-color:#00008B;
}
.darkgreen{
  background-color:#355e3b;
}
.darkyellow{
  background-color:#999900;
}

.mong {
  width: 15%;
  height: 200px;
  float: left;
}
.ah {
  width: 15%;
  height: 200px;
  background: yellow;
  float: left;
  }

.pasta {
  margin-left: 15%;
  height: 200px;
  background: green;
}
.ahahha{
  background-image:
}
